.table {
    background-image: url('src/assets/images/table.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    width: 100%;
    height: 100%;
}

.players {
    z-index: -1;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    // background-color: #2196F3;
    width: 100%;
    height: 100%;
}

.logo {
     width: 20px;
     height: 20px;
}

.players .player {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    height: 75%;
    width: 75%;
    // padding-top: 10%;
    font-size: 100%;
    text-align: center;
  }

  .player1 {
    padding-left: 58%;
    padding-top: 31%;
  }

  .player2 {
    padding-left: 52%;
    padding-top: 10%;
  }

  .player3 {
    padding-left: 46%;
    padding-top: 11%;
  }

  .player4 {
    padding-left: 22%;
    padding-top: 28%;
  }

  .player5 {
    padding-left: 20%;
    padding-top: 16%;
  }

  .player6 {
    padding-left: 0%;
    padding-top: 67%;
  }

  .player7 {
    padding-left: 100%;
    padding-top: 60%;
  }

  .player8 {
    padding-left: 70%;
    padding-top: 25%;
  }

  .choose-cards {
      z-index: 100;
  }

  .dialog {
    background-color: transparent;
  }