<div class="table">
    <button (click)="openChooseCards()"></button>
<div class="players">
    <div class="player1">
        <img class="logo" src="assets/images/boss-green.jpg">
    </div>
    <div class="player2">
        <img class="logo" src="assets/images/boss-green.jpg">
    </div>
    <div class="player3">
        <img class="logo" src="assets/images/boss-green.jpg">
    </div>
    <div class="player4">
        <img class="logo" src="assets/images/boss-green.jpg">
    </div>
    <div class="player5">
        <img class="logo" src="assets/images/boss-green.jpg">
    </div>
    <div class="player6">
        <img class="logo" src="assets/images/boss-green.jpg">
    </div>
    <div class="player7">
        YOU!
        <img class="logo" src="assets/images/boss-green.jpg">
    </div>
    <div class="player8">
        <img class="logo" src="assets/images/boss-green.jpg">
    </div>
</div>

</div>
