<div class="card-symbols-wrapper">
  <div *ngFor="let cardSymbolIndex of cardSymbolsIndices; let index = index" class="card-symbol-wrapper">
    <button class="button1" *ngIf="index % 2 == 0" (click)="addCard(cardSymbolIndex)"><label>{{getCardTitle(cardSymbolIndex)}}</label></button>
    <button class="button2" *ngIf="index % 2 != 0" (click)="addCard(cardSymbolIndex)"><label>{{getCardTitle(cardSymbolIndex)}}</label></button>
  </div>
</div>
<div class="card-symbols-wrapper">
  <div *ngFor="let cardSymbolIndex of cards; let index = index" class="card-symbol-wrapper">
    <button class="button1" *ngIf="index % 2 == 0" (click)="removeCard(cardSymbolIndex)"><label>{{getCardTitle(cardSymbolIndex)}}</label></button>
    <button class="button2" *ngIf="index % 2 != 0" (click)="removeCard(cardSymbolIndex)"><label>{{getCardTitle(cardSymbolIndex)}}</label></button>
  </div>
</div>
